body {
    font-family: 'Red Hat Display', sans-serif;
    background-image: url(pattern-background-desktop.svg);
    background-position: top; 
    background-size: cover; 
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
}

main {
    align-self: center;
    max-width: 1140px;
    display: grid;
    border-radius: 15px;
    background-color: #fff;
}

.area-image img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.title,
.description {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title h1 {
    font-weight: 900;
    font-size: 30px;
    color: hsl(223, 47%, 23%);
    margin-top: 45px;
}

.description {
    line-height: 25px;
    text-align: center;
    color: hsl(229,14%,63%);
}

.price {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: hsl(225, 100%, 98%);
    margin: 20px 40px;
    padding: 30px 20px;
    border-radius: 15px;
}

.price-icon img{
    max-width: 50px;
}

.price-plan {
    font-size: 16px;
    line-height: 25px;
    color: hsl(223, 47%, 23%);
}

.price-plan--title {
    font-weight: 700;
}

.price-plan--value {
    color: hsl(229,14%,63%);
}

.price-change {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: hsl(245, 75%, 52%);
}

.price-change a:hover {
   color: hsl(224, 23%, 55%);
   text-decoration: none;
}

.payment,
.cancel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.payment-proceed {
   background-color: hsl(245, 75%, 52%);
   color: #fff;
   padding: 15px 110px;
   border-radius: 15px;
   margin-top: 15px;
   box-shadow: 5px 20px 40px hsl(225, 100%, 98%);
}

.payment-proceed:hover {
    cursor: pointer;
    background-color: hsl(224, 23%, 55%);
}

.cancel-button {
    margin: 30px;
    color: hsl(229,14%,63%);
    font-weight: 700;
}

.cancel-button:hover {
    color: hsl(223, 47%, 23%);
    cursor: pointer;
}

@media (max-width: 375px) {
    main {
        max-width: 375px;
    }

    .price {
        margin: 0;
        padding: 15px;
    }

    .payment-proceed {
        padding: 15px 50px;;
    }
}
